# Python (Ambiente Virtual e Cache)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# Banco de Dados e Logs
*.log
*.sql
*.sqlite

# IDEs (VS Code, Antigravity)
.vscode/
.antigravity/

# Sistema Operacional
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.cache/

# Ignora a pasta onde as bibliotecas foram instaladas
venv/
env/